<!doctype html>
<html>

<head>
	<title>Hier komt je titel</title>
	<link rel="stylesheet" type="text/css" href="reset.css">

	<!-- Eigen CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">

	<meta charset="utf-8">
</head>

<body>
	<div class="header">
		<a href="index.html" class="logo">API TEST</a>
		<!--<div class="header-right">
		    <a class="active" href="#home">Home</a>
		    <a href="#contact">Contact</a>
		    <a href="#about">About</a>
		  </div>-->
	</div>

	<div id="app">
		<ul>
			<li v-for="toilet in toilets">
				<h2>{{toilet.id}}</h2>
				<p>{{toilet.OBJECTID}}</p>

			</li>
		</ul>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="script.js"></script>
</body>

</html>
